@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #2b2767;
  --secondary-color: #ee5c36;
  --orange-color: #f39f5f;
  --green-color: #00a76e;
  --text-color: #7e8185;
  --white-color: #fff;
  --black-color: #000;
  --primary-font: "Poppins", system-ui;
  --secondary-font: "Cabin Sketch", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--primary-font) !important;
  font-weight: 500 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
.page-wrapper {
  overflow: hidden;
}
.section-padding {
  padding: 100px 0;
}
.bg-section-padding {
  padding: 150px 0;
}
/*========Btn==========*/
.theme-btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none !important;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  transition: all 0.4s ease-in-out;
  letter-spacing: 0;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 1;
  z-index: 9;
  text-transform: capitalize;
}
.theme-btn:hover {
  color: var(--white-color);
}
.theme-btn i {
  margin-left: 10px;
}
.theme-btn::before,
.theme-btn::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
}
.theme-btn::before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.theme-btn:hover::before {
  animation: criss-cross-left 0.8s both;
  animation-direction: alternate;
}
.theme-btn::after {
  right: -20px;
  transform: translate(50%, -50%);
}
.theme-btn:hover::after {
  animation: criss-cross-right 0.8s both;
  animation-direction: alternate;
}
/*========Header==========*/
.header {
  background-color: #f0f0f0;
  position: relative;
}
.logo img {
  z-index: 9;
  position: relative;
  padding-top: 5px;
}
.header .bottom-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 83%;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0;
}
.navigation ul li {
  position: relative;
  display: block;
  padding: 5px 18px;
}
.navigation ul li a {
  text-decoration: none;
  color: #2b2767;
  font-size: 18px;
  font-family: var(--primary-font);
  display: inline-block;
  position: relative;
}
.navigation ul li a:hover {
  color: var(--secondary-color);
}

.navigation ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0px;
  height: 1px;
  transition: 0.5s;
  background-color: var(--secondary-color);
  transform: translateX(-50%);
}
.navigation ul li a:hover::before {
  color: var(--secondary-color);
  /* width: 30px; */
  width: calc(100% - 1px);
}
/*========Mobile Header==========*/
.mob-header {
  padding: 0px 0;
  background: #f0f0f0;
  box-shadow: 1px 1px 20px #f4efef;
}
.mob-main-header-right i {
  font-size: 25px;
  color: var(--primary-color);
}
.mob-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  position: relative;
}
.mobile-nav__wrapper.expanded {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 999;
}
.mobile-nav__wrapper.expanded .mobile-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
  width: 100vw;
  /* cursor: pointer;
  width: 100vw;
  height: 100vh; */
  cursor: url(https://friskypanda.vercel.app/assets/images/close.png), auto;
}
.mobile-nav__content {
  width: 300px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms,
    transform 500ms ease 0ms;
}
.mobile-nav__wrapper.expanded .mobile-nav__content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms,
    transform 500ms ease 500ms;
}
.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background: #eee;
}
.logo-box h4 {
  margin-bottom: 0px;
  color: var(--primary-color);
  font-weight: 500;
}
.mobile-nav__close {
  position: relative;
  font-size: 20px;
  color: var(--primary-color) !important;
  cursor: pointer;
  padding-right: 10px;
}
.mobile-nav__content .logo-box {
  margin-bottom: 0px;
}
.mobile-nav__content .main-menu__list,
.mobile-nav__content .main-menu__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mobile-nav__content .main-menu__list li:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
.mobile-nav__content .main-menu__list li > a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: var(--primary-color) !important;
  font-family: var(--primary-font);
  font-size: 16px;
  height: 46px;
  align-items: center;
  transition: 500ms;
  padding: 6px 20px 6px 10px;
}
/*========Hero Section==========*/
.hero {
  position: relative;
  /* background: linear-gradient(
    177deg,
    rgba(255, 255, 255, 0.68531162464986) 20%,
    rgba(255, 255, 255, 0.9458158263305322) 40%,
    rgba(255, 255, 255, 1) 90%
  ); */
  /* background: linear-gradient(
    176deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.6404936974789917) 100%
  ); */
}
.hero .bottom-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 99.8%;
  z-index: 9;
}

.hero h1 {
  font-family: var(--secondary-font);
  font-size: 68px;
  color: var(--secondary-color);
  font-weight: 700;
  line-height: 1;
}
.hero p {
  color: var(--primary-color);
  font-size: 20px;
}
.hero-img {
  text-align: center;
  position: relative;
}
.hero-shape1 {
  position: absolute;
  left: -12%;
  bottom: 0%;
}
.hero-shape2 {
  position: absolute;
  right: -10%;
  bottom: 22%;
}
.hero-baloon-shape {
  position: absolute;
  left: 32.1%;
  bottom: 59.3%;
}
.hero-shape-traingle {
  position: absolute;
  left: -3%;
  bottom: -14%;
  transform: scale(0.7);
  z-index: -1;
}
.hero .parasuit-shape {
  position: absolute;
  top: 10%;
  left: 8%;
}
.hero .hero-shape-playarea {
  position: absolute;
  bottom: 7%;
  left: 22%;
}

.hero .baloon-shape {
  position: absolute;
  top: 4%;
  left: 45%;
}
.hero .baloon-shape img {
  width: 150px;
}

#video-bg,
.video-background {
  position: absolute;
  top: 0;
  left: 0;
}
.video-background {
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
#video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*========Headings==========*/
.main-heading h1 {
  font-family: var(--secondary-font);
  font-size: 55px;
  color: var(--secondary-color);
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.main-heading h5 {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
}
.main-heading p {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--black-color);
  text-align: center;
}
/*========Hero Section==========*/
.home-why {
  background: #f4eee5
    url(https://friskypanda.vercel.app/assets/images/why-bg.png) !important;
  background-size: contain !important;
  background-position: 100% 45% !important;
  background-repeat: no-repeat !important;
  position: relative;
}
.home-why .bottom-shape {
  position: absolute;
  right: 0;
  bottom: -1px;
  z-index: 9;
}
.home-why .home-why-box {
  text-align: center;
  color: var(--primary-color);
}
.home-why .home-why-box h4 {
  color: var(--primary-color);
  font-size: 22px;
}
.home-why .home-why-box p {
  color: var(--text-color);
  font-size: 16px;
}

/*--------------------------------------------------------------
# activities details
--------------------------------------------------------------*/
.home-activities {
  background-color: var(--background-color);
  position: relative;
}
.home-activities .bottom-shape {
  position: absolute;
  right: 0;
  top: 99.9%;
  z-index: 9;
}

.program-box-items {
  position: relative;
  max-width: 270px;
  margin: 0px auto 0px;
  transition: 0.3s;
  padding: 51px 26.5px 16px;
}
.program-box-items .program-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.1;
  transition: all 500ms ease;

  /* Properly formatted SVG mask */
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 413"><path d="M232.489 370.49C168.721 379.888 101.476 430.507 60.5694 406C27.7404 386.337 -5.44522 328.132 9.56944 227.947C22.9257 138.686 -19.0511 45.3973 11.2635 32.2885C26.6526 25.6551 45.8927 44.6781 84 38.9924C94.5031 37.413 101.452 27.4749 121.5 17.4924C237.5 -40.2684 268.492 67.7316 268.492 100.544C269.865 119.022 269.33 138.264 267.19 156.454C256.313 249.189 296.97 361.014 232.489 370.49Z"/></svg>');
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 413"><path d="M232.489 370.49C168.721 379.888 101.476 430.507 60.5694 406C27.7404 386.337 -5.44522 328.132 9.56944 227.947C22.9257 138.686 -19.0511 45.3973 11.2635 32.2885C26.6526 25.6551 45.8927 44.6781 84 38.9924C94.5031 37.413 101.452 27.4749 121.5 17.4924C237.5 -40.2684 268.492 67.7316 268.492 100.544C269.865 119.022 269.33 138.264 267.19 156.454C256.313 249.189 296.97 361.014 232.489 370.49Z"/></svg>');

  /* Ensuring no repeat and proper mask positioning */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  z-index: -1;
}

/* Different background colors for different instances of the program-bg */
.green-bg {
  background-color: #00a76e !important;
}
.blue-bg {
  background-color: #606060 !important;
}
.yellow-bg {
  background-color: #febe18 !important;
}
.program-box-items:hover .program-bg {
  opacity: 1;
}
.program-box-items .program-image {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  margin-bottom: 12px;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217 136"><path d="M10.2005 22.1275C26.0731 -8.66231 181.064 -6.06071 203.472 22.1275C225.88 50.3158 216.544 108.86 203.472 124.471C190.401 140.083 21.3236 140.868 10.2005 120.459C-0.922529 100.051 -5.67204 52.9174 10.2005 22.1275Z"/></svg>');
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217 136"><path d="M10.2005 22.1275C26.0731 -8.66231 181.064 -6.06071 203.472 22.1275C225.88 50.3158 216.544 108.86 203.472 124.471C190.401 140.083 21.3236 140.868 10.2005 120.459C-0.922529 100.051 -5.67204 52.9174 10.2005 22.1275Z"/></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
}
.program-box-items .program-image img {
  width: 100%;
  height: 100%;
}
.program-box-items .program-content {
  padding: 0px 0px;
}
.program-box-items .program-content h4 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  transition: all 300ms ease;
}
.program-box-items .program-content h4 a {
  color: var(--primary-color) !important;
}
.program-box-items:hover .program-content h4 a {
  color: var(--white-color) !important;
}
.program-box-items .program-content p {
  color: var(--text-color) !important;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 24px;
  display: block;
  margin: 0 0 7px;
  text-align: center;
  transition: all 300ms ease;
}
.program-box-items:hover .program-content p {
  color: var(--white-color) !important;
}

.program-one__item__rm {
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 44px;
  margin-bottom: 12px;
  background-color: var(--secondary-color);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M47.6226 23.9402C47.6226 36.9235 35.1758 46.5552 23.8113 47.4513C10.8233 47.4516 -6.41604e-06 36.9235 -4.14576e-06 23.9402C-1.87547e-06 10.9569 5.41166 0.231453 27.0583 0.231389C41.1286 1.12761 47.6226 10.9569 47.6226 23.9402Z"/> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M47.6226 23.9402C47.6226 36.9235 35.1758 46.5552 23.8113 47.4513C10.8233 47.4516 -6.41604e-06 36.9235 -4.14576e-06 23.9402C-1.87547e-06 10.9569 5.41166 0.231453 27.0583 0.231389C41.1286 1.12761 47.6226 10.9569 47.6226 23.9402Z"/> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: cover;
  mask-size: cover;
  font-size: 18px;
  color: var(--white-color);
  transition: all 300ms ease;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
.green-bg-btn {
  background-color: #00a76e !important;
}
.blue-bg-btn {
  background-color: #606060 !important;
}
.yellow-bg-btn {
  background-color: #febe18 !important;
}
.program-box-items:hover .program-one__item__rm {
  background-color: var(--white-color) !important;
  color: var(--black-color);
}

/*--------------------------------------------------------------
# Event details
--------------------------------------------------------------*/
.home-event {
  background-image: url(https://friskypanda.vercel.app/assets/images/event-bg.jpg) !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  position: relative !important;
  z-index: 1 !important;
}
.home-event .bottom-shape {
  position: absolute;
  right: 0;
  bottom: -1px;
  z-index: 9;
}
.home-event::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;
}
.event-box-item {
  background-color: #ffffff;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  padding: 35px 15px;
}
.event-image img {
  box-shadow: 0px 0px 10px #41403f6b;
  border-radius: 12px;
}
.event-box-item .event-content h3 {
  font-size: 21px !important;
  margin-bottom: 0 !important;
  color: var(--primary-color) !important;
  font-weight: 600;
}

.event-box-item .event-content h3 a {
  text-decoration: none;
  color: var(--primary-color) !important;
}
.event-box-item .event-content .event-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.event-box-item .event-content .event-list li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-bottom: 12px;
  padding-left: 25px;
  color: var(--text-color);
}
.event-box-item .event-content .event-list li i {
  position: absolute;
  left: 0;
  top: -4px;
  font-size: 20px;
  color: #ea512e;
}
.event-box-item .event-date {
  text-align: center;
}
.event-box-item .event-date h4 {
  font-size: 80px;
  color: #ea512e;
  margin-bottom: 0;
  font-family: var(--primary-font);
}
.event-box-item .event-date span {
  font-size: 20px;
  color: #ea512e;
  margin-top: 10px;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-section {
  padding: 150px 0 0 0;
  background: #f4eee5;
  position: relative;
}
.footer-section p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}
.footer-section .single-footer .single-footer-head {
  margin-bottom: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    #f39f5f 4.85%,
    rgba(201, 203, 223, 0) 96.39%
  );
  border-bottom: 2px solid transparent;
  border-image-slice: 2;
  display: inline-block;
}
.footer-section .single-footer .single-footer-head h3 {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 24px;
  display: inline-block;
}
.single-footer .quick-links {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.single-footer .quick-links li {
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 16px;
}
.single-footer .quick-links li a {
  display: inline-block;
  color: var(--text-color);
  font-weight: 500;
  position: relative;
}
.single-footer .quick-links li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
  background-color: var(--secondary-color);
}
.single-footer .quick-links li a:hover {
  color: var(--secondary-color) !important;
}
.single-footer .quick-links li a:hover::before {
  width: 100%;
}
.single-footer .footer-contact {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.single-footer .footer-contact li {
  margin-bottom: 20px;
  color: var(--text-color) !important;
  position: relative;
  /* padding-left: 35px; */
  font-size: 16px;
  display: flex;
  align-items: center;
}
.single-footer .footer-contact li i {
  /* position: absolute;
  left: 0;
  top: 5px; */
  font-size: 20px;
  color: var(--secondary-color);
  margin-right: 15px;
}
.single-footer .footer-contact li a {
  display: inline-block;
  color: var(--text-color) !important;
  font-weight: 500;
  position: relative;
  font-size: 16px;
}
.single-footer .footer-contact li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
  background-color: #ea512e;
}
.footer-bottom {
  position: relative;
  z-index: 9;
}
.footer-bottom .bottom-shape-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer-bottom .footer-wrapper {
  position: relative;
  z-index: 9;
  padding-top: 50px;
  padding-bottom: 3px;
}
.footer-copyright a {
  color: var(--secondary-color);
}
/*footer social*/
.footer-global-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.footer-global-link {
  margin-top: 6px;
}
.footer-global-link li {
  line-height: 18px;
}
.footer-global-social h3 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500 !important;
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.footer-global-social-link {
  display: inline-flex;
  margin-left: 14px;
  margin-bottom: 0px;
  padding: 0;
}
.footer-global-social-link li {
  background-color: var(--secondary-color);
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-global-social-link li a {
  color: var(--white-color) !important;
}
.footer-global-social-link li:hover {
  background-color: var(--white-color);
  transition: 0.3s ease-in-out;
}
.footer-global-social-link li:nth-child(1):hover a {
  color: #316ff6 !important;
}
.footer-global-social-link li:nth-child(2):hover a {
  color: #0077b5 !important;
}
.footer-global-social-link li:nth-child(3):hover a {
  color: #1da1f2 !important;
}
.footer-global-social-link li:nth-child(4):hover a {
  color: #ff0000 !important;
}
.footer-section .bottom-shape {
  position: absolute;
  right: 0;
  top: -1px;
  z-index: 99;
}

/*--Mobile footer--*/
.mobile-footer {
  padding: 2px 0;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  box-shadow: -6px -8px 15px #cccccc40;
  opacity: 0;
  background-color: var(--white-color);
  border-radius: 15px 15px 0 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px dashed #f44336;
}
.box:last-child {
  border-right: unset;
}

.box a p {
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 0px;
}
.box a i {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
}

.box a img {
  width: 28px;
}

/*==========Fix Call=========*/
.tpt {
  position: fixed;
  bottom: 3%;
  z-index: 999999999;
  left: 2%;
}
.call {
  margin: 0 0 30px 0;
}
.call a {
  background-color: var(--secondary-color);
  color: var(--white-color);
  display: inline-block;
  font-size: 20px;
  height: 50px;
  width: 50px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}
.call a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  content: "";
  transform: translate(-50%, -50%);
}
.whatsapp a {
  background-color: var(--secondary-color);
  color: var(--white-color);
  display: inline-block;
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}
.whatsapp a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  content: "";
  transform: translate(-50%, -50%);
}
.ripple::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}
.ripple::after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}
.ripple::before,
.ripple::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(243, 159, 95, 0.5);
  -webkit-animation: rippleOne 3s infinite;
  animation: rippleOne 3s infinite;
}

/* Galllery */
.home-gallery {
  position: relative;
}
/* .gallery-one__card img {
  transform: scale(1);
  max-width: 100%;
  transition: transform 500ms ease, opacity 500ms ease;
  opacity: 1;
  border-radius: 29px;
}
.gallery-one__card__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bb6464a3;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 0);
  transition: transform 500ms ease;
  transform-origin: bottom center;
}
.gallery-one__card__hover .img-popup {
  position: relative;
}
.gallery-one__card:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}
.gallery-one__card:hover .gallery-one__card__hover {
  transform-origin: top center;
  transform: scale(1, 1);
} */
.one__card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.one__card a:before {
  content: "";
  position: absolute;
  background: #00000099;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
}
.one__card:hover a:before {
  content: "";
  position: absolute;
  background: #00000099;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.gallery-one__card__icon {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: block;
  position: relative;
  /* background-color: var(--kidearn-base, #f25334); */
  transition: 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 30px;
}
.one__card:hover .gallery-one__card__icon {
  opacity: 1;
}
/* .one__card img {
  filter: grayscale(100%);
  transition: 0.3s ease;
}
.one__card:hover img {
  filter: grayscale(0%);
} */

/* .gallery-one__card__icon::after,
.gallery-one__card__icon::before {
  content: "";
  width: 3px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 500ms ease;
  border-radius: 1.5px;
}
.gallery-one__card__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.gallery-one__card__icon:hover {
  background-color: var(--kidearn-white, #fff);
}
.gallery-one__card__icon:hover::after,
.gallery-one__card__icon:hover::before {
  background-color: var(--kidearn-base, #f25334);
} */
/* responsive */
@media only screen and (max-width: 767px) {
  .hero h1 {
    font-size: 52px;
    text-align: center;
    margin-top: 10px;
  }
  .hero p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 6px;
  }
  .hero .parasuit-shape {
    position: absolute;
    top: 7%;
    left: 3%;
    z-index: -1;
    opacity: 0.8;
  }
  .main-heading h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .section-padding {
    padding: 70px 0;
  }
  .hero-shape1 {
    position: absolute;
    left: -2%;
    bottom: 33%;
  }
  .hero .baloon-shape {
    position: absolute;
    top: 5%;
    left: 72%;
    z-index: -1;
    opacity: 0.5;
  }
  .hero-shape1 img {
    width: 100px !important;
  }
  .hero-shape2 img {
    width: 100px !important;
  }
  .hero-shape2 {
    position: absolute;
    right: -5%;
    bottom: 25%;
  }
  .hero-img img {
    width: 220px;
  }
  .hero-shape-traingle {
    position: absolute;
    left: -26%;
    bottom: -23%;
    transform: scale(0.4);
    z-index: -1;
  }
  .hero .bottom-shape {
    top: 100%;
  }
  .hero .hero-shape-playarea {
    position: absolute;
    bottom: 62%;
    left: 27%;
    z-index: -1;
    opacity: 0.2;
  }
  .theme-btn {
    font-size: 14px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
    padding: 10px 15px;
  }
  .hero-img {
    margin: 15px 0;
  }
  .bg-section-padding {
    padding: 80px 0;
  }
  .home-why-box img {
    width: 180px;
  }
  .home-why .home-why-box {
    margin-bottom: 30px;
  }
  .home-why .home-why-box h4 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 2px;
  }
  .home-why .home-why-box p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
  }
  .home-why {
    background: #f4eee5 !important;
    background-position: 100% 17% !important;
    background-repeat: no-repeat !important;
  }
  .program-box-items {
    position: relative;
    max-width: 270px;
    margin: 0px auto 30px;
  }
  .event-image img {
    text-align: center;
    display: none;
  }
  .home-event {
    background-image: url(https://friskypanda.vercel.app/assets/images/event-bg.jpg) !important;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: unset !important;
  }
  .event-box-item .event-date h4 {
    font-size: 80px;
    color: #ea512e;
    margin-bottom: 0;
    font-family: var(--secondary-font);
    line-height: 60px;
  }
  .event-box-item .event-date {
    text-align: center;
    margin-bottom: 25px;
  }
  .event-box-item .event-content .event-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 12px;
  }
  .home-gallery {
    text-align: center;
  }
  .footer-section {
    padding: 60px 0 50px 0;
  }
  .footer-bottom .footer-wrapper {
    padding-top: 5px;
  }
  .bottom-shape-footer {
    display: none;
  }
  .single-footer {
    margin-top: 25px;
  }
  .footer-section .single-footer .single-footer-head {
    margin-bottom: 10px;
  }
  .mobile-footer {
    opacity: 1;
  }
  .tpt {
    display: none;
  }
}

/* ========Animation====== */

/* //>>>>> Video Animation Start <<<<<// */
@-webkit-keyframes rippleOne {
  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}

@keyframes rippleOne {
  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}
/* //>>>>> Video Animation End <<<<<// */

/* //>>>>> Circle Animation Start <<<<<// */
@keyframes cir36 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rounded {
  50% {
    transform: rotate(15deg);
  }
}

/* //>>>>> Circle Animation End <<<<<// */

/* //>>>>> Preloader Animation Start <<<<<// */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* //>>>>> Preloader Animation Start <<<<<// */
@keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes tpswing {
  0% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderpulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
/* //>>>>> Preloader Animation End <<<<<// */

/* //animation */
@keyframes rounded {
  50% {
    transform: rotate(20deg);
  }
}

@keyframes cir36 {
  100% {
    transform: rotate(360deg);
  }
}

.float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.float-bob-x {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes float-bob-x {
  0% {
    -webkit-transform: translateX(-0px);
    transform: translateX(30px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes float-bob-x {
  0% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes bounce-x {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounce-x {
  -webkit-animation: bounce-x 7s infinite linear;
  animation: bounce-x 7s infinite linear;
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes rotated2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}
